.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.App-header {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.emoji-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.emoji {
  position: absolute;
  font-size: 2rem;
  animation: move 5s linear infinite;
}

@keyframes move {
  from {
    transform: translate(0,0);
  }
  to {
    transform: translate(var(--move-x), var(--move-y));
  }
}